A new review has been added in your destination.

<p>The following is the review</p>

<p><%= @review.content %></p>

<p><%= link_to "View online", destination_path(@review.destination) %></p>

Thanks.
Tour.com